
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face{
    src:url("../fonts/GoogleSans-Regular.ttf");
    font-family:"Google Sans";
}

/* ------------------------------------
    G L O B A L  S T Y L E  R U L E S
    -----------------------------------*/

*{
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body , html{
    margin:0;
    padding:0;
}

a,a:active,a:hover{
    text-decoration: none!important;
    color:unset;
}

/* ------------------------------
    N A V I G A T I O N  B A R 
   -------------------------------*/

nav{
    position: relative;
    width:100%;
    padding:1em 0em 1em 0em;
    background:#512da8;
}

.side--nav--toggler{
    position: relative;
    display: none;
    width:25px;
    height:25px;
    margin-left:0.8em;
    vertical-align: middle;
    top:-3px;
    cursor: pointer;
}

.side--nav--toggler .line{
    position: absolute;
    width:80%;
    height:2px;
    background:#fff;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.side--nav--toggler.toggle--off > .line{
    transition:transform 200ms ease 0s ,opacity 200ms ease 0s, top 200ms ease 200ms ;
}

.side--nav--toggler.toggle--on > .line{
    transition:top 200ms ease 0s ,opacity 200ms ease 0s , transform 200ms ease 200ms;
}

.side--nav--toggler.toggle--off >  .line1{
    top:-10px;
}

.side--nav--toggler.toggle--off > .line2{
    top:0;
    opacity: 1;
}

.side--nav--toggler.toggle--off >  .line3{
    top:10px;
}

.side--nav--toggler.toggle--on >  .line1{
    top:0px;
    transform:rotate(45deg);
}

.side--nav--toggler.toggle--on > .line2{
    top:0;
    opacity: 0;
}

.side--nav--toggler.toggle--on >  .line3{
    top:0px;
    transform:rotate(135deg);
}

.logo--area , .search--bar , .shoping--action{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    margin:0em 1.5em 0em 1.5em;
}

.logo--area h3{
    font-family:"Audiowide";
    text-transform: uppercase;
    margin:0;
    font-weight: bold;
    color:#fff;
    letter-spacing: 0.07em;
}

.search--bar{
    width:50%;
    background:#fff;
    border-radius: 4px;
}

.search--bar input,
.search--bar button{
    background:transparent;
    border:none;
    padding:0.8em;
    outline-color: #512da8;
    font-family: "Google Sans",sans-serif;
}

.search--bar input::-webkit-input-placeholder{
    color:#6a85a6;
}

.search--bar input{
    position: relative;
    width:100%;
    outline:none;
    padding-right:3.5em;
    padding-left:1em;
    color:#4b5d73;
    font-size:1.1em;
    line-height: 0; /*ye check kr phr dek*/
}

.search--bar button{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    border-left:2px solid #f1f3f6;
    color:#6a85a6;
}

.shoping--action{
    color:#fff;
    position: absolute;
    top:50%;
    right:1em;
    transform:translateY(-50%)
}

.shoping--action > span{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding:0.5em;
    margin:0 0.3em 0 0.3em;
    border-radius: 4px;
    background:transparent;
    transition:background 300ms ease 0s;
}

.shoping--action span >  span{
    display: block;
    margin-top:0.3em;
    font-family:"Google Sans",sans-serif;
    text-transform: capitalize;
}

.shoping--action > span:hover{
    background:rgba(255,255,255,0.25);
}

#nav--links{
    position: relative;
    width:100%;
    list-style: none;
    text-align: center;
    padding:1.4em 0em 1.4em 0em;
    /*box-shadow: 40px 0 25px 0 rgba(200,219,239,.7);*/
    box-shadow: 0 10px 20px #eee, 0 6px 6px #d5d5d5;    
}

#nav--links li{
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    font-family: "Google Sans",sans-serif;
    font-size:1.2em;
    margin:0 1em 0 1em;
    color: #6a85a6;
    font-weight: 500;
    transition: color 300ms ease 0s;
}

#nav--links li:hover{
    color:#512da8;
}

